ErrorDocument 404 /404.html
RewriteEngine On
RewriteRule    ^article/([0-9]+)$  post.php?id=$1    [NC,L]    # Rewrite all /article/ to post.php
RewriteRule    ^article/$  post.php    [NC,L]    #if no id provided, rewrite without get attr
